# Ignorar dependencias y archivos temporales
/vendor/
/node_modules/
/.env
/.env.*
/.vscode/
/.idea/
logs/
writable/**
!writable/cache/
!writable/cache/.gitkeep
!writable/logs/
!writable/logs/.gitkeep
!writable/session/
!writable/session/.gitkeep
!writable/uploads/
!writable/uploads/.gitkeep
public_html/
webstats/
database/
*.log
*.tmp
.DS_Store
Thumbs.db


public/uploads/comprobantes/*
public/comprobantes/*
!public/uploads/comprobantes/.gitkeep