-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: grupovivencia
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Current Database: `grupovivencia`
--

CREATE DATABASE /*!32312 IF NOT EXISTS*/ `grupovivencia` /*!40100 DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci */;

USE `grupovivencia`;

--
-- Table structure for table `archivos_digitales`
--

DROP TABLE IF EXISTS `archivos_digitales`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `archivos_digitales` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `nombre_original` varchar(255) NOT NULL,
  `nombre_almacenado` varchar(255) NOT NULL,
  `tipo_documento` varchar(50) NOT NULL,
  `tama??o` bigint(20) unsigned NOT NULL,
  `ruta_archivo` varchar(500) NOT NULL,
  `contrato_id` bigint(20) unsigned DEFAULT NULL,
  `cliente_id` bigint(20) unsigned DEFAULT NULL,
  `descripcion` text DEFAULT NULL,
  `fecha_subida` timestamp NOT NULL DEFAULT current_timestamp(),
  `usuario_id` bigint(20) unsigned DEFAULT NULL,
  `estado` varchar(20) DEFAULT 'activo',
  `hash_archivo` varchar(64) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `contrato_id` (`contrato_id`),
  KEY `cliente_id` (`cliente_id`),
  KEY `tipo_documento` (`tipo_documento`),
  CONSTRAINT `archivos_digitales_ibfk_1` FOREIGN KEY (`contrato_id`) REFERENCES `contracts` (`id`) ON DELETE CASCADE,
  CONSTRAINT `archivos_digitales_ibfk_2` FOREIGN KEY (`cliente_id`) REFERENCES `customers` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `archivos_digitales`
--

LOCK TABLES `archivos_digitales` WRITE;
/*!40000 ALTER TABLE `archivos_digitales` DISABLE KEYS */;
/*!40000 ALTER TABLE `archivos_digitales` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bank`
--

DROP TABLE IF EXISTS `bank`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bank` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(50) NOT NULL DEFAULT '',
  `active` enum('0','1') NOT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`) USING BTREE
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bank`
--

LOCK TABLES `bank` WRITE;
/*!40000 ALTER TABLE `bank` DISABLE KEYS */;
INSERT INTO `bank` VALUES (9,'BanBif','0','2023-08-11 13:09:35','2024-03-22 18:09:39'),(10,'Banco de Comercio','0','2023-08-11 13:09:45','2023-11-02 17:03:01'),(11,'Interbank','0','2023-08-11 13:09:54','2025-07-20 12:18:32'),(12,'Citibank','0','2023-08-11 13:10:01','2023-11-02 17:03:22'),(13,'BBVA','1','2023-08-11 13:10:12','2025-07-20 12:18:44'),(14,'Banco de Cr??dito (BCP)','0','2023-08-11 13:10:19','2024-06-08 13:41:43'),(15,'Scotiabank','0','2023-08-12 12:18:53','2025-07-20 12:19:45'),(16,'Banco de la Naci??n','0','2023-08-12 12:19:03','2025-07-20 12:19:10');
/*!40000 ALTER TABLE `bank` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bonuses`
--

DROP TABLE IF EXISTS `bonuses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bonuses` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `percent` double(5,2) NOT NULL,
  `active` enum('0','1') NOT NULL DEFAULT '1',
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`) USING BTREE,
  UNIQUE KEY `bonuses_name_unique` (`name`) USING BTREE
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bonuses`
--

LOCK TABLES `bonuses` WRITE;
/*!40000 ALTER TABLE `bonuses` DISABLE KEYS */;
INSERT INTO `bonuses` VALUES (0,'Sin bono',0.00,'1','2025-10-28 21:16:43',NULL),(1,'Bono de Patrocinio',35.00,'1','2023-08-10 21:56:50',NULL),(2,'Bono de Liderazgo',0.00,'1','2023-08-10 21:57:29',NULL),(3,'Sistema',0.00,'1','2023-08-10 21:57:54',NULL),(4,'Compras',0.00,'1','2023-08-11 18:59:13',NULL),(5,'Regal??a MLM',30.00,'1','2023-08-11 18:59:26',NULL),(6,'Bono Regal??a??de??compras',30.00,'1','2023-08-11 18:59:42',NULL),(7,'Bono de Liderazgo.',0.00,'0','2023-09-24 13:14:08',NULL),(8,'Retiro',0.00,'1','2023-12-18 15:00:13',NULL);
/*!40000 ALTER TABLE `bonuses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `calification`
--

DROP TABLE IF EXISTS `calification`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `calification` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `customer_id` bigint(20) unsigned DEFAULT NULL,
  `range_id` bigint(20) unsigned DEFAULT NULL,
  `personal_point` decimal(20,6) DEFAULT NULL,
  `group_point` decimal(20,6) DEFAULT NULL,
  `amount` decimal(20,6) DEFAULT NULL,
  `date` datetime DEFAULT NULL,
  `created_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`) USING BTREE,
  KEY `customer_id` (`customer_id`) USING BTREE,
  KEY `range_id` (`range_id`) USING BTREE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `calification`
--

LOCK TABLES `calification` WRITE;
/*!40000 ALTER TABLE `calification` DISABLE KEYS */;
/*!40000 ALTER TABLE `calification` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `clasificaciones_compra`
--

DROP TABLE IF EXISTS `clasificaciones_compra`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `clasificaciones_compra` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) NOT NULL,
  `descripcion` text DEFAULT NULL,
  `codigo` varchar(20) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `nombre` (`nombre`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `clasificaciones_compra`
--

LOCK TABLES `clasificaciones_compra` WRITE;
/*!40000 ALTER TABLE `clasificaciones_compra` DISABLE KEYS */;
INSERT INTO `clasificaciones_compra` VALUES (1,'Materiales','Compra de materiales de construcci??n','MAT'),(2,'Servicios','Servicios profesionales y t??cnicos','SRV'),(3,'Activos','Compra de activos fijos','ACT'),(4,'Suministros','Suministros y consumibles','SUM'),(5,'Otros','Otras compras','OTR');
/*!40000 ALTER TABLE `clasificaciones_compra` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `comisiones`
--

DROP TABLE IF EXISTS `comisiones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `comisiones` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `proveedor_id` int(11) DEFAULT NULL,
  `porcentaje` decimal(5,2) DEFAULT NULL,
  `monto_minimo` decimal(15,2) DEFAULT NULL,
  `descripcion` text DEFAULT NULL,
  `estado` varchar(20) DEFAULT 'activa',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `proveedor_id` (`proveedor_id`),
  CONSTRAINT `comisiones_ibfk_1` FOREIGN KEY (`proveedor_id`) REFERENCES `proveedores` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `comisiones`
--

LOCK TABLES `comisiones` WRITE;
/*!40000 ALTER TABLE `comisiones` DISABLE KEYS */;
/*!40000 ALTER TABLE `comisiones` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `comisiones_inmobiliarias`
--

DROP TABLE IF EXISTS `comisiones_inmobiliarias`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `comisiones_inmobiliarias` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `venta_id` bigint(20) unsigned NOT NULL,
  `beneficiario_id` bigint(20) unsigned NOT NULL,
  `tipo_comision` enum('bono_reserva','venta_base','nivel_1','nivel_2') NOT NULL,
  `monto` decimal(12,2) NOT NULL,
  `porcentaje` decimal(5,2) DEFAULT NULL,
  `estado` enum('pendiente','aprobada','pagada','rechazada') DEFAULT 'pendiente',
  `fecha_generada` datetime NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=152 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `comisiones_inmobiliarias`
--

LOCK TABLES `comisiones_inmobiliarias` WRITE;
/*!40000 ALTER TABLE `comisiones_inmobiliarias` DISABLE KEYS */;
/*!40000 ALTER TABLE `comisiones_inmobiliarias` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `comments`
--

DROP TABLE IF EXISTS `comments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `comments` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(250) CHARACTER SET latin1 COLLATE latin1_swedish_ci NOT NULL DEFAULT '0',
  `phone` varchar(50) NOT NULL DEFAULT '0',
  `email` varchar(250) CHARACTER SET latin1 COLLATE latin1_swedish_ci NOT NULL DEFAULT '0',
  `subject` varchar(250) DEFAULT NULL,
  `comment` text CHARACTER SET latin1 COLLATE latin1_swedish_ci DEFAULT NULL,
  `date` datetime DEFAULT NULL,
  `active` enum('0','1') NOT NULL,
  `created_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`) USING BTREE
) ENGINE=MyISAM DEFAULT CHARSET=utf8 COLLATE=utf8_spanish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `comments`
--

LOCK TABLES `comments` WRITE;
/*!40000 ALTER TABLE `comments` DISABLE KEYS */;
/*!40000 ALTER TABLE `comments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `commissions`
--

DROP TABLE IF EXISTS `commissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `commissions` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `invoice_id` bigint(20) unsigned DEFAULT NULL,
  `customer_id` bigint(20) unsigned DEFAULT NULL,
  `customer_standby` bigint(20) DEFAULT NULL,
  `customer_waiting` bigint(20) DEFAULT NULL,
  `condition` tinyint(4) DEFAULT NULL,
  `level` int(11) DEFAULT NULL,
  `bonus_id` bigint(20) unsigned NOT NULL,
  `recarge_id` bigint(20) DEFAULT NULL,
  `arrive_id` int(11) NOT NULL,
  `amount` decimal(8,3) NOT NULL,
  `discount` decimal(8,3) NOT NULL,
  `date` datetime NOT NULL,
  `date_shop` datetime DEFAULT NULL,
  `system_discount` int(11) DEFAULT NULL,
  `pass_period` int(11) NOT NULL DEFAULT 0,
  `cd` int(11) NOT NULL DEFAULT 0,
  `payment` int(11) NOT NULL DEFAULT 0,
  `active` enum('0','1','2') NOT NULL DEFAULT '1',
  `total` decimal(8,3) NOT NULL,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`) USING BTREE,
  KEY `commissions_customer_id_foreign` (`customer_id`) USING BTREE,
  KEY `commissions_bonus_id_foreign` (`bonus_id`) USING BTREE,
  KEY `invoice_id` (`invoice_id`) USING BTREE
) ENGINE=InnoDB AUTO_INCREMENT=993 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `commissions`
--

LOCK TABLES `commissions` WRITE;
/*!40000 ALTER TABLE `commissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `commissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `compra_documentos`
--

DROP TABLE IF EXISTS `compra_documentos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `compra_documentos` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `compra_id` bigint(20) unsigned NOT NULL,
  `tipo_documento` varchar(50) NOT NULL,
  `nombre_original` varchar(255) NOT NULL,
  `ruta_archivo` varchar(512) NOT NULL,
  `tipo_mime` varchar(100) DEFAULT NULL,
  `tamanio` bigint(20) DEFAULT NULL,
  `hash_archivo` varchar(64) DEFAULT NULL,
  `cargado_por` bigint(20) unsigned DEFAULT NULL,
  `fecha_carga` timestamp NOT NULL DEFAULT current_timestamp(),
  `descripcion` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_tipo_doc` (`tipo_documento`),
  KEY `idx_compra_doc` (`compra_id`),
  CONSTRAINT `compra_documentos_ibfk_1` FOREIGN KEY (`compra_id`) REFERENCES `compras` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `compra_documentos`
--

LOCK TABLES `compra_documentos` WRITE;
/*!40000 ALTER TABLE `compra_documentos` DISABLE KEYS */;
/*!40000 ALTER TABLE `compra_documentos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `compra_gastos`
--

DROP TABLE IF EXISTS `compra_gastos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `compra_gastos` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `compra_id` bigint(20) unsigned NOT NULL,
  `gasto_tipo_id` bigint(20) unsigned NOT NULL,
  `gasto_subcategoria_id` bigint(20) unsigned NOT NULL,
  `proyecto_id` bigint(20) unsigned DEFAULT NULL,
  `contrato_id` bigint(20) unsigned DEFAULT NULL,
  `observaciones` text DEFAULT NULL,
  `clasificado_por` bigint(20) unsigned DEFAULT NULL,
  `fecha_clasificacion` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_compra` (`compra_id`),
  KEY `idx_tipo` (`gasto_tipo_id`),
  KEY `idx_subcategoria` (`gasto_subcategoria_id`),
  KEY `idx_proyecto` (`proyecto_id`),
  KEY `idx_contrato` (`contrato_id`),
  CONSTRAINT `fk_cg_compra` FOREIGN KEY (`compra_id`) REFERENCES `compras` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_cg_subcategoria` FOREIGN KEY (`gasto_subcategoria_id`) REFERENCES `gasto_subcategorias` (`id`),
  CONSTRAINT `fk_cg_tipo` FOREIGN KEY (`gasto_tipo_id`) REFERENCES `gasto_tipos` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `compra_gastos`
--

LOCK TABLES `compra_gastos` WRITE;
/*!40000 ALTER TABLE `compra_gastos` DISABLE KEYS */;
INSERT INTO `compra_gastos` VALUES (18,17,4,1,NULL,NULL,'',1,'2026-04-20 20:56:12','2026-04-20 20:56:12','2026-04-20 20:56:12');
/*!40000 ALTER TABLE `compra_gastos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `compras`
--

DROP TABLE IF EXISTS `compras`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `compras` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `proveedor_id` bigint(20) unsigned NOT NULL,
  `numero_comprobante` varchar(50) NOT NULL,
  `tipo_comprobante` varchar(20) NOT NULL,
  `fecha_compra` date NOT NULL,
  `subtotal` decimal(12,2) NOT NULL,
  `igv` decimal(12,2) NOT NULL,
  `total` decimal(12,2) NOT NULL,
  `descripcion` text DEFAULT NULL,
  `clasificacion` varchar(50) DEFAULT NULL,
  `estado` varchar(20) DEFAULT 'registrado',
  `pdf_url` varchar(255) DEFAULT NULL,
  `comprobante_archivo` varchar(255) DEFAULT NULL,
  `xml_url` varchar(255) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT NULL,
  `proyecto_id` bigint(20) unsigned DEFAULT NULL COMMENT 'Proyecto asociado',
  `contrato_id` bigint(20) unsigned DEFAULT NULL COMMENT 'Contrato asociado',
  PRIMARY KEY (`id`),
  KEY `fecha_compra` (`fecha_compra`),
  KEY `proveedor_id` (`proveedor_id`),
  KEY `idx_proyecto` (`proyecto_id`),
  KEY `idx_contrato` (`contrato_id`)
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `compras`
--

LOCK TABLES `compras` WRITE;
/*!40000 ALTER TABLE `compras` DISABLE KEYS */;
INSERT INTO `compras` VALUES (17,2,'123456789','Factura','2026-04-20',10.00,18.00,120.00,'',NULL,'clasificado',NULL,'comprobantes/comprobante_20260420155612_69e692ec5e7fb.pdf',NULL,'2026-04-20 20:56:12','2026-04-20 20:56:12',NULL,NULL);
/*!40000 ALTER TABLE `compras` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `comprobantes_emitidos`
--

DROP TABLE IF EXISTS `comprobantes_emitidos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `comprobantes_emitidos` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `contract_id` int(11) NOT NULL,
  `pago_id` int(11) DEFAULT NULL,
  `tipo_documento` varchar(2) NOT NULL COMMENT '01=Factura, 03=Boleta',
  `serie` varchar(10) NOT NULL,
  `correlativo` varchar(20) NOT NULL,
  `numero_completo` varchar(30) NOT NULL COMMENT 'Ej: B001-1',
  `cliente_nombre` varchar(255) DEFAULT NULL,
  `cliente_num_doc` varchar(20) DEFAULT NULL,
  `monto_total` decimal(12,2) NOT NULL DEFAULT 0.00,
  `moneda` varchar(3) NOT NULL DEFAULT 'PEN',
  `fecha_emision` date NOT NULL,
  `estado` varchar(20) NOT NULL DEFAULT 'Aceptado',
  `sunat_codigo` varchar(10) DEFAULT NULL,
  `sunat_mensaje` text DEFAULT NULL,
  `hash_cpe` varchar(255) DEFAULT NULL,
  `xml_filename` varchar(255) DEFAULT NULL,
  `pdf_url` varchar(500) DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`) USING BTREE,
  KEY `idx_contract` (`contract_id`) USING BTREE,
  KEY `idx_pago` (`pago_id`) USING BTREE,
  KEY `idx_numero` (`numero_completo`) USING BTREE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci ROW_FORMAT=DYNAMIC COMMENT='Comprobantes electr├│nicos emitidos por contrato';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `comprobantes_emitidos`
--

LOCK TABLES `comprobantes_emitidos` WRITE;
/*!40000 ALTER TABLE `comprobantes_emitidos` DISABLE KEYS */;
/*!40000 ALTER TABLE `comprobantes_emitidos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `concept_tickets`
--

DROP TABLE IF EXISTS `concept_tickets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `concept_tickets` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `title` varchar(50) NOT NULL,
  `date` date NOT NULL,
  `active` enum('0','1') NOT NULL DEFAULT '1',
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`) USING BTREE
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `concept_tickets`
--

LOCK TABLES `concept_tickets` WRITE;
/*!40000 ALTER TABLE `concept_tickets` DISABLE KEYS */;
INSERT INTO `concept_tickets` VALUES (1,'Productos','2023-08-18','1','2023-08-18 19:34:42',NULL),(2,'Datos Personales','2023-08-18','1','2023-08-18 19:34:51',NULL),(3,'Comisiones','2023-08-18','1','2023-08-18 19:34:57',NULL),(4,'Cobros & Payout','2023-08-18','1','2023-08-18 19:35:06',NULL),(5,'Otros Conceptos','2023-08-18','1','2023-08-18 19:35:15',NULL),(6,'Backoffice (oficina virtual)','2024-04-15','1','2024-04-15 11:30:05',NULL);
/*!40000 ALTER TABLE `concept_tickets` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `conciliaciones_bancarias`
--

DROP TABLE IF EXISTS `conciliaciones_bancarias`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `conciliaciones_bancarias` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `cuenta_id` int(11) NOT NULL,
  `saldo_banco` decimal(15,2) DEFAULT NULL,
  `saldo_sistema` decimal(15,2) DEFAULT NULL,
  `diferencia` decimal(15,2) DEFAULT NULL,
  `fecha` date DEFAULT NULL,
  `estado` varchar(20) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `cuenta_id` (`cuenta_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `conciliaciones_bancarias`
--

LOCK TABLES `conciliaciones_bancarias` WRITE;
/*!40000 ALTER TABLE `conciliaciones_bancarias` DISABLE KEYS */;
/*!40000 ALTER TABLE `conciliaciones_bancarias` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `contracts`
--

DROP TABLE IF EXISTS `contracts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `contracts` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `lot_id` bigint(20) unsigned NOT NULL,
  `customer_id` bigint(20) unsigned NOT NULL,
  `sponsor_id` bigint(20) unsigned DEFAULT NULL,
  `payment_plan_id` bigint(20) unsigned DEFAULT NULL,
  `contract_number` varchar(100) NOT NULL,
  `total_amount` decimal(12,2) NOT NULL,
  `down_payment` decimal(10,2) NOT NULL,
  `financed_amount` decimal(12,2) NOT NULL,
  `monthly_payment` decimal(10,2) NOT NULL,
  `interest_rate` decimal(5,2) NOT NULL,
  `contract_date` date NOT NULL,
  `start_date` date NOT NULL,
  `end_date` date NOT NULL,
  `status` enum('active','completed','cancelled','suspended','rejected') NOT NULL DEFAULT 'active',
  `contract_file` varchar(255) DEFAULT NULL,
  `voucher_url` varchar(255) DEFAULT NULL,
  `is_approved` tinyint(1) DEFAULT 0,
  `is_rejected` tinyint(1) DEFAULT 0,
  `notes` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT NULL,
  `factura_emitida` tinyint(1) DEFAULT 0,
  `factura_serie_correlativo` varchar(100) DEFAULT NULL,
  `api_factura_id` varchar(100) DEFAULT NULL,
  `financing_months` int(11) DEFAULT NULL,
  `reservation_amount` decimal(10,2) DEFAULT NULL,
  `reservation_date` date DEFAULT NULL,
  `is_reserved` tinyint(1) DEFAULT 0,
  `contract_type` varchar(50) DEFAULT NULL,
  `bonus_id` bigint(20) unsigned DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `contract_number` (`contract_number`),
  KEY `lot_id` (`lot_id`),
  KEY `customer_id` (`customer_id`),
  KEY `payment_plan_id` (`payment_plan_id`),
  KEY `idx_status` (`status`),
  KEY `idx_contract_date` (`contract_date`),
  KEY `idx_is_approved` (`is_approved`),
  KEY `idx_is_rejected` (`is_rejected`)
) ENGINE=InnoDB AUTO_INCREMENT=226 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `contracts`
--

LOCK TABLES `contracts` WRITE;
/*!40000 ALTER TABLE `contracts` DISABLE KEYS */;
/*!40000 ALTER TABLE `contracts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `costos_proyecto`
--

DROP TABLE IF EXISTS `costos_proyecto`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `costos_proyecto` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `proyecto_id` bigint(20) unsigned NOT NULL,
  `descripcion` varchar(255) NOT NULL,
  `monto` decimal(12,2) NOT NULL,
  `tipo_costo` varchar(50) DEFAULT NULL,
  `fecha_registro` timestamp NOT NULL DEFAULT current_timestamp(),
  `compra_id` bigint(20) unsigned DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `proyecto_id` (`proyecto_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `costos_proyecto`
--

LOCK TABLES `costos_proyecto` WRITE;
/*!40000 ALTER TABLE `costos_proyecto` DISABLE KEYS */;
/*!40000 ALTER TABLE `costos_proyecto` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `countries`
--

DROP TABLE IF EXISTS `countries`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `countries` (
  `id` smallint(5) unsigned NOT NULL AUTO_INCREMENT,
  `id_idioma` tinyint(3) unsigned NOT NULL DEFAULT 0,
  `id_wsp` varchar(10) DEFAULT NULL,
  `nombre` varchar(150) NOT NULL DEFAULT '',
  `x` float(13,10) NOT NULL DEFAULT 0.0000000000,
  `y` float(13,10) NOT NULL DEFAULT 0.0000000000,
  `img` varchar(25) DEFAULT NULL,
  PRIMARY KEY (`id`,`id_idioma`)
) ENGINE=InnoDB AUTO_INCREMENT=247 DEFAULT CHARSET=utf8 COLLATE=utf8_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `countries`
--

LOCK TABLES `countries` WRITE;
/*!40000 ALTER TABLE `countries` DISABLE KEYS */;
/*!40000 ALTER TABLE `countries` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cuentas_bancarias`
--

DROP TABLE IF EXISTS `cuentas_bancarias`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cuentas_bancarias` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `banco` varchar(100) NOT NULL,
  `numero_cuenta` varchar(50) NOT NULL,
  `tipo_cuenta` varchar(50) DEFAULT NULL,
  `titular` varchar(150) DEFAULT NULL,
  `saldo_inicial` decimal(15,2) DEFAULT 0.00,
  `saldo_actual` decimal(15,2) DEFAULT 0.00,
  `estado` varchar(20) DEFAULT 'activa',
  `fecha_creacion` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `numero_cuenta` (`numero_cuenta`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cuentas_bancarias`
--

LOCK TABLES `cuentas_bancarias` WRITE;
/*!40000 ALTER TABLE `cuentas_bancarias` DISABLE KEYS */;
/*!40000 ALTER TABLE `cuentas_bancarias` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `customer_bank`
--

DROP TABLE IF EXISTS `customer_bank`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `customer_bank` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `customer_id` bigint(20) unsigned NOT NULL,
  `bank_id` bigint(20) unsigned NOT NULL,
  `number` varchar(50) NOT NULL,
  `cci` varchar(50) NOT NULL,
  `active` enum('0','1') NOT NULL,
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`) USING BTREE,
  KEY `customer_id` (`customer_id`) USING BTREE,
  KEY `bank_id` (`bank_id`) USING BTREE
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `customer_bank`
--

LOCK TABLES `customer_bank` WRITE;
/*!40000 ALTER TABLE `customer_bank` DISABLE KEYS */;
/*!40000 ALTER TABLE `customer_bank` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `customers`
--

DROP TABLE IF EXISTS `customers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `customers` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `range_id` bigint(20) unsigned DEFAULT NULL,
  `username` varchar(50) DEFAULT NULL,
  `code` varchar(50) DEFAULT NULL,
  `country_id` smallint(5) unsigned DEFAULT NULL,
  `membership_id` bigint(20) unsigned DEFAULT NULL,
  `password` varchar(100) DEFAULT NULL,
  `name` varchar(25) DEFAULT NULL,
  `lastname` varchar(25) DEFAULT NULL,
  `co_name` varchar(150) DEFAULT NULL,
  `co_dni` varchar(50) DEFAULT NULL,
  `address` varchar(250) DEFAULT NULL,
  `mother_last` varchar(50) DEFAULT NULL,
  `phone` varchar(25) DEFAULT NULL,
  `dni` char(8) DEFAULT NULL,
  `passport` varchar(15) DEFAULT NULL,
  `temporal` enum('1','2') DEFAULT NULL,
  `email` varchar(50) DEFAULT NULL,
  `wallet` varchar(50) DEFAULT NULL,
  `pin` varchar(6) DEFAULT NULL,
  `kyc` enum('0','1','2','3') DEFAULT NULL,
  `ads` enum('0','1') NOT NULL DEFAULT '1',
  `date` date DEFAULT NULL,
  `date_active` datetime DEFAULT NULL,
  `pay` int(11) DEFAULT NULL,
  `avatar` varchar(100) DEFAULT NULL,
  `ruc` char(11) DEFAULT NULL,
  `company_name` varchar(100) DEFAULT NULL,
  `account_deductions` varchar(100) DEFAULT NULL,
  `address_company` varchar(150) DEFAULT NULL,
  `tipo_comprobante` varchar(50) DEFAULT NULL,
  `active` enum('0','1') NOT NULL DEFAULT '1',
  `adm` enum('0','1') NOT NULL DEFAULT '0',
  `tipo_agente` varchar(20) DEFAULT NULL,
  `actived_at` datetime DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` datetime DEFAULT NULL,
  `civil_status` varchar(50) DEFAULT NULL,
  `estado_renovacion` varchar(20) DEFAULT 'vigente',
  `fecha_renovacion` date DEFAULT NULL,
  `retencion` tinyint(1) DEFAULT 0,
  PRIMARY KEY (`id`) USING BTREE,
  UNIQUE KEY `customers_username_unique` (`username`) USING BTREE,
  UNIQUE KEY `customers_email_unique` (`email`) USING BTREE,
  KEY `customers_range_id_foreign` (`range_id`) USING BTREE,
  KEY `customers_countries_id_foreign` (`country_id`) USING BTREE,
  KEY `membership_id` (`membership_id`) USING BTREE
) ENGINE=InnoDB AUTO_INCREMENT=209 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `customers`
--

LOCK TABLES `customers` WRITE;
/*!40000 ALTER TABLE `customers` DISABLE KEYS */;
/*!40000 ALTER TABLE `customers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `declaraciones_tributarias`
--

DROP TABLE IF EXISTS `declaraciones_tributarias`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `declaraciones_tributarias` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `periodo` varchar(10) NOT NULL,
  `total_ventas` decimal(14,2) DEFAULT 0.00,
  `total_compras` decimal(14,2) DEFAULT 0.00,
  `igv_a_pagar` decimal(14,2) DEFAULT 0.00,
  `estado` varchar(20) DEFAULT 'borrador',
  `fecha_creacion` timestamp NOT NULL DEFAULT current_timestamp(),
  `usuario_id` bigint(20) unsigned DEFAULT NULL,
  `observaciones` text DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `periodo` (`periodo`),
  KEY `usuario_id` (`usuario_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `declaraciones_tributarias`
--

LOCK TABLES `declaraciones_tributarias` WRITE;
/*!40000 ALTER TABLE `declaraciones_tributarias` DISABLE KEYS */;
/*!40000 ALTER TABLE `declaraciones_tributarias` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `departments`
--

DROP TABLE IF EXISTS `departments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `departments` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=26 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `departments`
--

LOCK TABLES `departments` WRITE;
/*!40000 ALTER TABLE `departments` DISABLE KEYS */;
INSERT INTO `departments` VALUES (1,'AMAZONAS'),(2,'ANCASH'),(3,'APURIMAC'),(4,'AREQUIPA'),(5,'AYACUCHO'),(6,'CAJAMARCA'),(7,'CALLAO'),(8,'CUSCO'),(9,'HUANCAVELICA'),(10,'HUANUCO'),(11,'ICA'),(12,'JUNIN'),(13,'LA LIBERTAD'),(14,'LAMBAYEQUE'),(15,'LIMA'),(16,'LORETO'),(17,'MADRE DE DIOS'),(18,'MOQUEGUA'),(19,'PASCO'),(20,'PIURA'),(21,'PUNO'),(22,'SAN MARTIN'),(23,'TACNA'),(24,'TUMBES'),(25,'UCAYALI');
/*!40000 ALTER TABLE `departments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `districts`
--

DROP TABLE IF EXISTS `districts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `districts` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `province_id` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `province_id` (`province_id`)
) ENGINE=InnoDB AUTO_INCREMENT=1875 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `districts`
--

LOCK TABLES `districts` WRITE;
/*!40000 ALTER TABLE `districts` DISABLE KEYS */;
/*!40000 ALTER TABLE `districts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `documentos`
--

DROP TABLE IF EXISTS `documentos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `documentos` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `nombre` varchar(255) NOT NULL,
  `tipo_documento` varchar(100) NOT NULL,
  `descripcion` text DEFAULT NULL,
  `contenido` longtext NOT NULL,
  `version` int(11) DEFAULT 1,
  `fecha_creacion` timestamp NOT NULL DEFAULT current_timestamp(),
  `usuario_creador_id` bigint(20) unsigned DEFAULT NULL,
  `ultima_modificacion` datetime DEFAULT NULL,
  `usuario_modificacion_id` bigint(20) unsigned DEFAULT NULL,
  `estado` varchar(20) DEFAULT 'activo',
  PRIMARY KEY (`id`),
  KEY `tipo_documento` (`tipo_documento`),
  KEY `estado` (`estado`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `documentos`
--

LOCK TABLES `documentos` WRITE;
/*!40000 ALTER TABLE `documentos` DISABLE KEYS */;
/*!40000 ALTER TABLE `documentos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `gasto_reportes`
--

DROP TABLE IF EXISTS `gasto_reportes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `gasto_reportes` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `nombre` varchar(255) NOT NULL,
  `fecha_inicio` date NOT NULL,
  `fecha_fin` date NOT NULL,
  `proyecto_id` bigint(20) unsigned DEFAULT NULL,
  `contrato_id` bigint(20) unsigned DEFAULT NULL,
  `tipo_gasto_id` bigint(20) unsigned DEFAULT NULL,
  `contenido_html` longtext DEFAULT NULL,
  `contenido_pdf` varchar(512) DEFAULT NULL,
  `total_gasto` decimal(15,2) DEFAULT 0.00,
  `cantidad_compras` int(11) DEFAULT 0,
  `estado` varchar(20) DEFAULT 'borrador',
  `usuario_creador` bigint(20) unsigned NOT NULL,
  `usuario_contable` bigint(20) unsigned DEFAULT NULL,
  `fecha_envio` timestamp NULL DEFAULT NULL,
  `observaciones` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_estado` (`estado`),
  KEY `idx_fecha` (`fecha_inicio`,`fecha_fin`),
  KEY `idx_tipo_gasto` (`tipo_gasto_id`),
  CONSTRAINT `fk_gr_tipo` FOREIGN KEY (`tipo_gasto_id`) REFERENCES `gasto_tipos` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `gasto_reportes`
--

LOCK TABLES `gasto_reportes` WRITE;
/*!40000 ALTER TABLE `gasto_reportes` DISABLE KEYS */;
/*!40000 ALTER TABLE `gasto_reportes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `gasto_subcategorias`
--

DROP TABLE IF EXISTS `gasto_subcategorias`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `gasto_subcategorias` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `gasto_tipo_id` bigint(20) unsigned NOT NULL,
  `nombre` varchar(100) NOT NULL,
  `descripcion` text DEFAULT NULL,
  `activo` tinyint(4) DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `gasto_tipo_id` (`gasto_tipo_id`),
  CONSTRAINT `gasto_subcategorias_ibfk_1` FOREIGN KEY (`gasto_tipo_id`) REFERENCES `gasto_tipos` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=25 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `gasto_subcategorias`
--

LOCK TABLES `gasto_subcategorias` WRITE;
/*!40000 ALTER TABLE `gasto_subcategorias` DISABLE KEYS */;
/*!40000 ALTER TABLE `gasto_subcategorias` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `gasto_tipos`
--

DROP TABLE IF EXISTS `gasto_tipos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `gasto_tipos` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) NOT NULL,
  `icono` varchar(50) DEFAULT NULL,
  `descripcion` text DEFAULT NULL,
  `color` varchar(20) DEFAULT '#007bff',
  `activo` tinyint(4) DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `gasto_tipos`
--

LOCK TABLES `gasto_tipos` WRITE;
/*!40000 ALTER TABLE `gasto_tipos` DISABLE KEYS */;
INSERT INTO `gasto_tipos` VALUES (1,'Gastos Administrativos','fa-building','Gastos relacionados con administraci??n','#6c757d',1,'2026-04-10 20:02:33','2026-04-10 20:02:33'),(2,'Gastos de Ventas','fa-cart-shopping','Gastos relacionados con ventas','#fd7e14',1,'2026-04-10 20:02:33','2026-04-10 20:02:33'),(3,'Gastos Financieros','fa-money-bill-wave','Intereses, comisiones bancarias','#ffc107',1,'2026-04-10 20:02:33','2026-04-10 20:02:33'),(4,'Costo de Proyectos','fa-hammer','Gastos de construcci??n y proyectos','#28a745',1,'2026-04-10 20:02:33','2026-04-10 20:02:33');
/*!40000 ALTER TABLE `gasto_tipos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `incoming`
--

DROP TABLE IF EXISTS `incoming`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `incoming` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `membership_id` bigint(20) unsigned DEFAULT NULL,
  `supplier_id` bigint(20) unsigned DEFAULT NULL,
  `store_id` bigint(20) unsigned DEFAULT NULL,
  `user_id` bigint(20) unsigned NOT NULL,
  `qty` int(11) NOT NULL,
  `date` datetime NOT NULL,
  `unit_cost` decimal(10,2) DEFAULT NULL,
  `total_cost` decimal(20,2) unsigned DEFAULT NULL,
  `active` enum('0','1') DEFAULT NULL COMMENT '0 = salida, 1 =ingreso',
  `created_at` datetime NOT NULL,
  `updated_at` datetime NOT NULL,
  PRIMARY KEY (`id`) USING BTREE,
  KEY `membership_id` (`membership_id`) USING BTREE,
  KEY `user_id` (`user_id`) USING BTREE,
  KEY `store_id` (`store_id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `incoming`
--

LOCK TABLES `incoming` WRITE;
/*!40000 ALTER TABLE `incoming` DISABLE KEYS */;
/*!40000 ALTER TABLE `incoming` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `invoice_detail_membership`
--

DROP TABLE IF EXISTS `invoice_detail_membership`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `invoice_detail_membership` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `invoice_id` bigint(20) unsigned DEFAULT NULL,
  `membership_id` bigint(20) unsigned NOT NULL,
  `qty` int(10) unsigned NOT NULL,
  `price` decimal(10,2) unsigned NOT NULL,
  `sub_total` decimal(10,2) unsigned NOT NULL,
  `detail` text DEFAULT NULL,
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`) USING BTREE,
  KEY `invoice_id` (`invoice_id`) USING BTREE,
  KEY `membership_id` (`membership_id`) USING BTREE
) ENGINE=InnoDB AUTO_INCREMENT=676 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `invoice_detail_membership`
--

LOCK TABLES `invoice_detail_membership` WRITE;
/*!40000 ALTER TABLE `invoice_detail_membership` DISABLE KEYS */;
/*!40000 ALTER TABLE `invoice_detail_membership` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `invoices`
--

DROP TABLE IF EXISTS `invoices`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `invoices` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `customer_id` bigint(20) unsigned NOT NULL,
  `customer_name` varchar(255) DEFAULT NULL,
  `invoice_type` varchar(20) DEFAULT NULL,
  `series` varchar(10) DEFAULT NULL,
  `number` int(11) DEFAULT NULL,
  `status` varchar(20) DEFAULT 'issued',
  `pdf_url` varchar(255) DEFAULT NULL,
  `xml_url` varchar(255) DEFAULT NULL,
  `api_response` text DEFAULT NULL,
  `membership_id` bigint(20) unsigned DEFAULT NULL,
  `store_id` bigint(20) unsigned NOT NULL,
  `period_id` bigint(20) unsigned DEFAULT NULL,
  `amount` decimal(20,3) unsigned NOT NULL DEFAULT 0.000,
  `sub_total` decimal(20,3) DEFAULT NULL,
  `igv` decimal(20,3) DEFAULT NULL,
  `total` decimal(20,3) DEFAULT NULL,
  `points` decimal(20,3) DEFAULT NULL,
  `qty` smallint(6) DEFAULT NULL,
  `delivery` enum('0','1') NOT NULL COMMENT '1 = pendiente, 0 = entregado',
  `delivery_date` datetime DEFAULT NULL,
  `img` varchar(50) DEFAULT NULL,
  `address` text DEFAULT NULL,
  `details` text DEFAULT NULL,
  `temporal_membership` int(11) DEFAULT NULL,
  `phone` varchar(50) DEFAULT NULL,
  `date` datetime NOT NULL,
  `fecha` datetime DEFAULT current_timestamp(),
  `cash` decimal(8,2) DEFAULT NULL,
  `yape` decimal(8,2) DEFAULT NULL,
  `card` decimal(8,2) DEFAULT NULL,
  `days` int(11) DEFAULT NULL,
  `active` enum('1','2','3') NOT NULL DEFAULT '1',
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT current_timestamp(),
  `contract_id` bigint(20) unsigned DEFAULT NULL,
  `contract_number` varchar(50) DEFAULT NULL,
  `payment_schedule_id` bigint(20) unsigned DEFAULT NULL,
  `installment_number` int(11) DEFAULT NULL,
  `payment` varchar(50) DEFAULT NULL,
  `serie` varchar(10) DEFAULT NULL,
  `numero` int(11) DEFAULT NULL,
  `numero_serie` varchar(10) DEFAULT NULL,
  `codigo_hash` varchar(255) DEFAULT NULL,
  `cadena_para_codigo_qr` text DEFAULT NULL,
  `codigo_de_barras` text DEFAULT NULL,
  `digest_value` varchar(255) DEFAULT NULL,
  `enlace_del_pdf` text DEFAULT NULL,
  `enlace_del_xml` text DEFAULT NULL,
  `enlace_del_cdr` text DEFAULT NULL,
  `key` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`) USING BTREE,
  KEY `invoces_customer_id_foreign` (`customer_id`) USING BTREE,
  KEY `invoces_membership_id_foreign` (`membership_id`) USING BTREE,
  KEY `store_id` (`store_id`),
  KEY `period_id` (`period_id`)
) ENGINE=InnoDB AUTO_INCREMENT=469 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `invoices`
--

LOCK TABLES `invoices` WRITE;
/*!40000 ALTER TABLE `invoices` DISABLE KEYS */;
/*!40000 ALTER TABLE `invoices` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kycs`
--

DROP TABLE IF EXISTS `kycs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kycs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `customer_id` bigint(20) unsigned NOT NULL,
  `anverso` varchar(50) NOT NULL,
  `reverso` varchar(50) NOT NULL,
  `date` datetime NOT NULL,
  `active` enum('0','1','2','3') NOT NULL DEFAULT '1',
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`) USING BTREE,
  KEY `kycs_customer_id_foreign` (`customer_id`) USING BTREE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kycs`
--

LOCK TABLES `kycs` WRITE;
/*!40000 ALTER TABLE `kycs` DISABLE KEYS */;
/*!40000 ALTER TABLE `kycs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lots`
--

DROP TABLE IF EXISTS `lots`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `lots` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `project_id` bigint(20) unsigned NOT NULL,
  `customer_id` bigint(20) unsigned DEFAULT NULL,
  `lot_number` varchar(50) NOT NULL,
  `cadastral_unit` varchar(50) DEFAULT NULL,
  `registry_number` varchar(50) DEFAULT NULL,
  `block` varchar(20) DEFAULT NULL,
  `area_sqm` decimal(8,2) NOT NULL,
  `base_price` decimal(12,2) NOT NULL,
  `current_price` decimal(12,2) NOT NULL,
  `status` enum('available','reserved','sold','blocked') NOT NULL DEFAULT 'available',
  `reserved_until` timestamp NULL DEFAULT NULL,
  `sale_date` timestamp NULL DEFAULT NULL,
  `price_last_updated` timestamp NULL DEFAULT current_timestamp(),
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_lot_project` (`project_id`,`lot_number`),
  KEY `idx_status` (`status`),
  KEY `idx_customer` (`customer_id`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lots`
--

LOCK TABLES `lots` WRITE;
/*!40000 ALTER TABLE `lots` DISABLE KEYS */;
/*!40000 ALTER TABLE `lots` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `memberships`
--

DROP TABLE IF EXISTS `memberships`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `memberships` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `supplier_id` bigint(20) unsigned NOT NULL,
  `name` varchar(50) NOT NULL,
  `slug` varchar(50) NOT NULL,
  `price` double(8,2) NOT NULL DEFAULT 0.00,
  `unit_cost` decimal(10,2) DEFAULT NULL,
  `img` varchar(100) DEFAULT NULL,
  `public_price` decimal(8,2) DEFAULT NULL,
  `point` decimal(8,2) DEFAULT NULL,
  `description` text DEFAULT NULL,
  `contable` enum('0','1') NOT NULL DEFAULT '0',
  `sale` enum('1','2') DEFAULT '1' COMMENT '1 = libre, 2 = stock',
  `active` enum('0','1') NOT NULL DEFAULT '1',
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`) USING BTREE,
  KEY `supplier_id` (`supplier_id`)
) ENGINE=InnoDB AUTO_INCREMENT=22 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `memberships`
--

LOCK TABLES `memberships` WRITE;
/*!40000 ALTER TABLE `memberships` DISABLE KEYS */;
/*!40000 ALTER TABLE `memberships` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `movimientos_bancarios`
--

DROP TABLE IF EXISTS `movimientos_bancarios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `movimientos_bancarios` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `cuenta_id` int(11) NOT NULL,
  `tipo` enum('ingreso','salida') NOT NULL,
  `monto` decimal(15,2) NOT NULL,
  `descripcion` text DEFAULT NULL,
  `fecha` date DEFAULT NULL,
  `referencia` varchar(100) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `cuenta_id` (`cuenta_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `movimientos_bancarios`
--

LOCK TABLES `movimientos_bancarios` WRITE;
/*!40000 ALTER TABLE `movimientos_bancarios` DISABLE KEYS */;
/*!40000 ALTER TABLE `movimientos_bancarios` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `outgoing`
--

DROP TABLE IF EXISTS `outgoing`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `outgoing` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `invoice_id` bigint(20) unsigned NOT NULL,
  `membership_id` bigint(20) unsigned NOT NULL,
  `store_id` bigint(20) unsigned NOT NULL,
  `user_id` bigint(20) unsigned DEFAULT NULL,
  `unit_cost` decimal(8,2) DEFAULT NULL,
  `total_cost` decimal(8,2) DEFAULT NULL,
  `qty` int(11) DEFAULT NULL,
  `date` datetime DEFAULT NULL,
  `active` enum('0','1','2') DEFAULT NULL,
  `created_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`) USING BTREE,
  KEY `membership_id` (`membership_id`) USING BTREE,
  KEY `store_id` (`store_id`) USING BTREE,
  KEY `invoice_id` (`invoice_id`)
) ENGINE=InnoDB AUTO_INCREMENT=635 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `outgoing`
--

LOCK TABLES `outgoing` WRITE;
/*!40000 ALTER TABLE `outgoing` DISABLE KEYS */;
/*!40000 ALTER TABLE `outgoing` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pagos_proveedores`
--

DROP TABLE IF EXISTS `pagos_proveedores`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pagos_proveedores` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `proveedor_id` bigint(20) unsigned NOT NULL,
  `monto` decimal(12,2) NOT NULL,
  `fecha_pago` date NOT NULL,
  `metodo_pago` varchar(50) NOT NULL,
  `referencia` varchar(100) DEFAULT NULL,
  `descripcion` text DEFAULT NULL,
  `estado` varchar(20) DEFAULT 'registrado',
  `voucher_url` varchar(255) DEFAULT NULL,
  `fecha_creacion` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `proveedor_id` (`proveedor_id`),
  KEY `fecha_pago` (`fecha_pago`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pagos_proveedores`
--

LOCK TABLES `pagos_proveedores` WRITE;
/*!40000 ALTER TABLE `pagos_proveedores` DISABLE KEYS */;
/*!40000 ALTER TABLE `pagos_proveedores` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pay_commissions`
--

DROP TABLE IF EXISTS `pay_commissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pay_commissions` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `pay_id` bigint(20) unsigned NOT NULL,
  `commissions_id` bigint(20) unsigned NOT NULL,
  `date` date NOT NULL,
  `active` enum('0','1') NOT NULL DEFAULT '1',
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`) USING BTREE,
  KEY `pay_commissions_pay_id_foreign` (`pay_id`) USING BTREE,
  KEY `pay_commissions_customer_id_foreign` (`commissions_id`) USING BTREE
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pay_commissions`
--

LOCK TABLES `pay_commissions` WRITE;
/*!40000 ALTER TABLE `pay_commissions` DISABLE KEYS */;
INSERT INTO `pay_commissions` VALUES (1,1,93,'2025-02-05','1','2025-02-05 21:26:12',NULL),(2,2,97,'2025-02-17','1','2025-02-17 20:39:04',NULL),(3,3,173,'2025-03-27','1','2025-03-27 17:05:02',NULL),(4,4,246,'2025-04-11','1','2025-04-11 20:49:00',NULL),(6,6,877,'2025-08-08','1','2025-08-08 23:38:10',NULL),(7,7,878,'2025-08-08','1','2025-08-09 02:07:56',NULL),(8,8,899,'2025-08-16','1','2025-08-16 17:54:50',NULL),(9,9,922,'2025-08-30','1','2025-08-30 21:53:03',NULL);
/*!40000 ALTER TABLE `pay_commissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payment_options`
--

DROP TABLE IF EXISTS `payment_options`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `payment_options` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `name` varchar(100) DEFAULT NULL,
  `date` date DEFAULT NULL,
  `active` enum('0','1') DEFAULT NULL COMMENT '0 = no activo, 1= activo',
  PRIMARY KEY (`id`) USING BTREE
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payment_options`
--

LOCK TABLES `payment_options` WRITE;
/*!40000 ALTER TABLE `payment_options` DISABLE KEYS */;
INSERT INTO `payment_options` VALUES (1,'Pago con efectivo','2023-09-30','1'),(2,'Izipay','2023-10-01','1'),(3,'Pago en Yape','2023-10-05','1'),(4,'Transferencias BCP','2023-10-05','1'),(5,'Transferencias BBVA','2023-11-02','1'),(6,'Monedero','2024-02-26','1');
/*!40000 ALTER TABLE `payment_options` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payment_plans`
--

DROP TABLE IF EXISTS `payment_plans`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `payment_plans` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `code` varchar(50) NOT NULL,
  `location` varchar(100) NOT NULL COMMENT 'Cusco o General',
  `duration_months` int(11) NOT NULL,
  `min_down_payment_percentage` decimal(5,2) NOT NULL,
  `base_interest_rate` decimal(5,2) NOT NULL,
  `is_default` tinyint(1) NOT NULL DEFAULT 0,
  `active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `code` (`code`),
  KEY `idx_location` (`location`),
  KEY `idx_active` (`active`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payment_plans`
--

LOCK TABLES `payment_plans` WRITE;
/*!40000 ALTER TABLE `payment_plans` DISABLE KEYS */;
INSERT INTO `payment_plans` VALUES (2,'Plan Cusco 24 meses','CSC24','Cusco',24,20.00,3.00,0,1,'2025-10-02 23:20:10','2025-10-06 18:23:55'),(9,'Plan Lima 36 meses','LIM36','Lima',36,15.00,3.50,1,1,'2025-10-28 16:54:01','2026-04-11 01:59:28');
/*!40000 ALTER TABLE `payment_plans` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payment_schedules`
--

DROP TABLE IF EXISTS `payment_schedules`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `payment_schedules` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `lot_id` bigint(20) unsigned NOT NULL,
  `payment_plan_id` bigint(20) unsigned NOT NULL,
  `installment_number` int(11) NOT NULL,
  `due_date` date NOT NULL,
  `amount` decimal(10,2) NOT NULL,
  `capital` decimal(10,2) NOT NULL,
  `interest` decimal(10,2) NOT NULL,
  `interest_accrued` decimal(10,2) DEFAULT NULL,
  `interest_accrued_date` date DEFAULT NULL,
  `balance` decimal(12,2) NOT NULL,
  `status` enum('pending','paid','overdue','cancelled','registered') NOT NULL DEFAULT 'pending',
  `paid_date` timestamp NULL DEFAULT NULL,
  `paid_amount` decimal(10,2) DEFAULT NULL,
  `voucher_url` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT NULL,
  `contract_id` int(11) NOT NULL,
  `invoice_id` bigint(20) unsigned DEFAULT NULL,
  `pdf_url` varchar(255) DEFAULT NULL,
  `xml_url` varchar(255) DEFAULT NULL,
  `comprobante_url` varchar(255) DEFAULT NULL COMMENT 'URL del comprobante de pago (PDF, JPG, PNG)',
  `validado_notas` text DEFAULT NULL COMMENT 'Notas del admin al validar el pago',
  `validated_at` timestamp NULL DEFAULT NULL COMMENT 'Fecha y hora cuando el admin valid?? el pago',
  PRIMARY KEY (`id`),
  KEY `lot_id` (`lot_id`),
  KEY `payment_plan_id` (`payment_plan_id`),
  KEY `idx_due_date` (`due_date`),
  KEY `idx_status` (`status`)
) ENGINE=InnoDB AUTO_INCREMENT=5868 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payment_schedules`
--

LOCK TABLES `payment_schedules` WRITE;
/*!40000 ALTER TABLE `payment_schedules` DISABLE KEYS */;
/*!40000 ALTER TABLE `payment_schedules` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pays`
--

DROP TABLE IF EXISTS `pays`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pays` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `customer_id` bigint(20) unsigned NOT NULL,
  `bank` varchar(50) DEFAULT NULL,
  `number` varchar(50) DEFAULT NULL,
  `cci` varchar(100) DEFAULT NULL,
  `date` datetime NOT NULL,
  `date_pay` datetime DEFAULT NULL,
  `hash_id` text NOT NULL,
  `amount` decimal(8,2) NOT NULL,
  `amount_deductions` decimal(20,3) DEFAULT NULL,
  `factura` varchar(255) DEFAULT NULL,
  `discount` decimal(8,2) NOT NULL,
  `total` decimal(8,2) NOT NULL,
  `active` enum('0','1','2','3') NOT NULL DEFAULT '1',
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`) USING BTREE,
  KEY `pays_customer_id_foreign` (`customer_id`) USING BTREE
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pays`
--

LOCK TABLES `pays` WRITE;
/*!40000 ALTER TABLE `pays` DISABLE KEYS */;
/*!40000 ALTER TABLE `pays` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `penalties`
--

DROP TABLE IF EXISTS `penalties`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `penalties` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `contract_id` bigint(20) unsigned NOT NULL,
  `payment_schedule_id` bigint(20) unsigned DEFAULT NULL,
  `type` enum('mora','suspension','negociacion') NOT NULL,
  `amount` decimal(10,2) NOT NULL,
  `date` datetime NOT NULL DEFAULT current_timestamp(),
  `notes` text DEFAULT NULL,
  `created_by` bigint(20) unsigned DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `contract_id` (`contract_id`),
  KEY `payment_schedule_id` (`payment_schedule_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `penalties`
--

LOCK TABLES `penalties` WRITE;
/*!40000 ALTER TABLE `penalties` DISABLE KEYS */;
/*!40000 ALTER TABLE `penalties` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `period`
--

DROP TABLE IF EXISTS `period`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `period` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `code` varchar(50) NOT NULL,
  `begin` date NOT NULL,
  `end` date NOT NULL,
  `created_at` datetime NOT NULL,
  PRIMARY KEY (`id`) USING BTREE
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `period`
--

LOCK TABLES `period` WRITE;
/*!40000 ALTER TABLE `period` DISABLE KEYS */;
/*!40000 ALTER TABLE `period` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `points`
--

DROP TABLE IF EXISTS `points`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `points` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `customer_id` bigint(20) unsigned NOT NULL,
  `invoice_id` bigint(20) unsigned NOT NULL,
  `departure_id` bigint(20) DEFAULT NULL,
  `points` int(11) NOT NULL,
  `date` datetime NOT NULL,
  `system` enum('0','1') DEFAULT NULL,
  `range` enum('0','1') DEFAULT NULL,
  `active` enum('0','1','2') NOT NULL,
  PRIMARY KEY (`id`) USING BTREE,
  KEY `customer_id` (`customer_id`) USING BTREE,
  KEY `invoice_id` (`invoice_id`)
) ENGINE=InnoDB AUTO_INCREMENT=1040 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `points`
--

LOCK TABLES `points` WRITE;
/*!40000 ALTER TABLE `points` DISABLE KEYS */;
/*!40000 ALTER TABLE `points` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `price_settings`
--

DROP TABLE IF EXISTS `price_settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `price_settings` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `project_id` bigint(20) unsigned DEFAULT NULL,
  `location` varchar(100) NOT NULL,
  `monthly_increase_percentage` decimal(5,2) NOT NULL DEFAULT 2.00,
  `market_factor` decimal(5,2) NOT NULL DEFAULT 1.00,
  `last_update_date` timestamp NULL DEFAULT NULL,
  `active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `project_id` (`project_id`),
  KEY `idx_location` (`location`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `price_settings`
--

LOCK TABLES `price_settings` WRITE;
/*!40000 ALTER TABLE `price_settings` DISABLE KEYS */;
INSERT INTO `price_settings` VALUES (1,NULL,'General',2.00,1.00,NULL,1,'2025-10-02 23:20:10',NULL),(2,NULL,'Cusco',2.00,1.10,NULL,1,'2025-10-02 23:20:10',NULL),(3,NULL,'Lima',2.00,1.15,NULL,1,'2025-10-02 23:20:10',NULL);
/*!40000 ALTER TABLE `price_settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `projects`
--

DROP TABLE IF EXISTS `projects`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `projects` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `code` varchar(50) NOT NULL,
  `location` varchar(255) DEFAULT NULL,
  `description` text DEFAULT NULL,
  `image` varchar(255) DEFAULT NULL,
  `total_lots` int(11) NOT NULL DEFAULT 0,
  `available_lots` int(11) NOT NULL DEFAULT 0,
  `base_price_per_sqm` decimal(10,2) NOT NULL DEFAULT 0.00,
  `min_down_payment_percentage` decimal(5,2) NOT NULL DEFAULT 15.00,
  `max_financing_months` int(11) NOT NULL DEFAULT 36,
  `base_interest_rate` decimal(5,2) NOT NULL DEFAULT 3.50,
  `status` enum('planning','active','sold_out','suspended') NOT NULL DEFAULT 'planning',
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT NULL,
  `down_payment_type` varchar(20) DEFAULT 'percentage',
  `min_down_payment_fixed` decimal(10,2) DEFAULT NULL,
  `department_id` int(11) DEFAULT NULL,
  `province_id` int(11) DEFAULT NULL,
  `district_id` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `code` (`code`),
  KEY `idx_location` (`location`),
  KEY `idx_status` (`status`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `projects`
--

LOCK TABLES `projects` WRITE;
/*!40000 ALTER TABLE `projects` DISABLE KEYS */;
/*!40000 ALTER TABLE `projects` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `proveedores`
--

DROP TABLE IF EXISTS `proveedores`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `proveedores` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(150) NOT NULL,
  `ruc` varchar(20) DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  `telefono` varchar(20) DEFAULT NULL,
  `direccion` text DEFAULT NULL,
  `estado` varchar(20) DEFAULT 'activo',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `ruc` (`ruc`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `proveedores`
--

LOCK TABLES `proveedores` WRITE;
/*!40000 ALTER TABLE `proveedores` DISABLE KEYS */;
/*!40000 ALTER TABLE `proveedores` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `provinces`
--

DROP TABLE IF EXISTS `provinces`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `provinces` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `department_id` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `department_id` (`department_id`)
) ENGINE=InnoDB AUTO_INCREMENT=197 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `provinces`
--

LOCK TABLES `provinces` WRITE;
/*!40000 ALTER TABLE `provinces` DISABLE KEYS */;
/*!40000 ALTER TABLE `provinces` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `range_customer`
--

DROP TABLE IF EXISTS `range_customer`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `range_customer` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `customer_id` int(11) DEFAULT NULL,
  `range_id` int(11) DEFAULT NULL,
  `points` int(11) DEFAULT NULL,
  `date` datetime DEFAULT NULL,
  `period_id` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`) USING BTREE,
  KEY `customer_id` (`customer_id`) USING BTREE,
  KEY `range_id` (`range_id`) USING BTREE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `range_customer`
--

LOCK TABLES `range_customer` WRITE;
/*!40000 ALTER TABLE `range_customer` DISABLE KEYS */;
INSERT INTO `range_customer` VALUES (1,3,2,3000,'2025-03-31 20:01:51',10),(2,91,2,3300,'2025-05-05 00:00:00',NULL),(3,92,2,3800,'2025-05-05 00:00:00',NULL),(4,91,2,NULL,'2025-06-01 00:00:01',12);
/*!40000 ALTER TABLE `range_customer` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ranges`
--

DROP TABLE IF EXISTS `ranges`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ranges` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(50) NOT NULL,
  `points` int(11) NOT NULL,
  `description` text DEFAULT NULL,
  `img` varchar(100) DEFAULT NULL,
  `active` enum('0','1') NOT NULL DEFAULT '1',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`) USING BTREE,
  UNIQUE KEY `ranges_name_unique` (`name`) USING BTREE
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ranges`
--

LOCK TABLES `ranges` WRITE;
/*!40000 ALTER TABLE `ranges` DISABLE KEYS */;
/*!40000 ALTER TABLE `ranges` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `recibos_honorarios`
--

DROP TABLE IF EXISTS `recibos_honorarios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `recibos_honorarios` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `beneficiario` varchar(255) NOT NULL,
  `dni_ruc` varchar(20) NOT NULL,
  `monto` decimal(12,2) NOT NULL,
  `concepto` text NOT NULL,
  `numero_recibo` varchar(50) NOT NULL,
  `fecha_creacion` timestamp NOT NULL DEFAULT current_timestamp(),
  `estado` varchar(20) DEFAULT 'generado',
  `pdf_url` varchar(255) DEFAULT NULL,
  `xml_url` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `dni_ruc` (`dni_ruc`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `recibos_honorarios`
--

LOCK TABLES `recibos_honorarios` WRITE;
/*!40000 ALTER TABLE `recibos_honorarios` DISABLE KEYS */;
/*!40000 ALTER TABLE `recibos_honorarios` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `requerimientos`
--

DROP TABLE IF EXISTS `requerimientos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `requerimientos` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `cliente_id` bigint(20) unsigned NOT NULL,
  `contrato_id` bigint(20) unsigned DEFAULT NULL,
  `tipo_requerimiento` varchar(100) NOT NULL,
  `descripcion` text NOT NULL,
  `documento_requerido` varchar(255) NOT NULL,
  `fecha_vencimiento` date NOT NULL,
  `estado` varchar(20) DEFAULT 'pendiente',
  `fecha_creacion` timestamp NOT NULL DEFAULT current_timestamp(),
  `usuario_id` bigint(20) unsigned DEFAULT NULL,
  `observaciones` text DEFAULT NULL,
  `fecha_completado` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `cliente_id` (`cliente_id`),
  KEY `contrato_id` (`contrato_id`),
  KEY `estado` (`estado`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `requerimientos`
--

LOCK TABLES `requerimientos` WRITE;
/*!40000 ALTER TABLE `requerimientos` DISABLE KEYS */;
/*!40000 ALTER TABLE `requerimientos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `store`
--

DROP TABLE IF EXISTS `store`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `store` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(100) DEFAULT NULL,
  `active` enum('0','1') DEFAULT NULL,
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`) USING BTREE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `store`
--

LOCK TABLES `store` WRITE;
/*!40000 ALTER TABLE `store` DISABLE KEYS */;
INSERT INTO `store` VALUES (1,'Almac??n general - Punto de entrega Ate Vitarte - Lima ','1','2023-08-18 10:34:34','2025-07-20 12:17:46');
/*!40000 ALTER TABLE `store` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `suggestions`
--

DROP TABLE IF EXISTS `suggestions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `suggestions` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `concept_ticket_id` bigint(20) unsigned NOT NULL,
  `customer_id` bigint(20) unsigned NOT NULL,
  `content` text DEFAULT NULL,
  `date` datetime DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`) USING BTREE,
  KEY `suggestions_concept_ticket_id_foreign` (`concept_ticket_id`) USING BTREE,
  KEY `suggestions_customer_id_foreign` (`customer_id`) USING BTREE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `suggestions`
--

LOCK TABLES `suggestions` WRITE;
/*!40000 ALTER TABLE `suggestions` DISABLE KEYS */;
/*!40000 ALTER TABLE `suggestions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `suppliers`
--

DROP TABLE IF EXISTS `suppliers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `suppliers` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(50) DEFAULT NULL,
  `ruc` varchar(50) DEFAULT NULL,
  `phone` varchar(50) DEFAULT NULL,
  `address` varchar(250) DEFAULT NULL,
  `date` date DEFAULT NULL,
  `active` enum('0','1') DEFAULT NULL,
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`) USING BTREE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `suppliers`
--

LOCK TABLES `suppliers` WRITE;
/*!40000 ALTER TABLE `suppliers` DISABLE KEYS */;
INSERT INTO `suppliers` VALUES (2,'Yeray Amal SAC','20609188180','962792954','jr. Ucayali nro. 100 - Yarinacocha - coronel portillo - Ucayali','2025-05-08','1','2025-05-08 12:09:40',NULL);
/*!40000 ALTER TABLE `suppliers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tickets`
--

DROP TABLE IF EXISTS `tickets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `tickets` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `concept_ticket_id` bigint(20) unsigned NOT NULL,
  `customer_id` bigint(20) unsigned NOT NULL,
  `content` text NOT NULL,
  `response` text NOT NULL,
  `date` datetime NOT NULL,
  `img` varchar(50) DEFAULT NULL,
  `active` enum('0','1','2','3') NOT NULL DEFAULT '1',
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`) USING BTREE,
  KEY `tickets_concept_ticket_id_foreign` (`concept_ticket_id`) USING BTREE,
  KEY `tickets_customer_id_foreign` (`customer_id`) USING BTREE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tickets`
--

LOCK TABLES `tickets` WRITE;
/*!40000 ALTER TABLE `tickets` DISABLE KEYS */;
/*!40000 ALTER TABLE `tickets` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `transfer`
--

DROP TABLE IF EXISTS `transfer`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `transfer` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `store_leave_id` bigint(20) unsigned DEFAULT NULL,
  `store_arrive_id` bigint(20) unsigned DEFAULT NULL,
  `qty` int(11) DEFAULT 0,
  `unit_cost` decimal(20,2) DEFAULT 0.00,
  `total_costo` decimal(20,2) DEFAULT NULL,
  `date` datetime DEFAULT NULL,
  `user_id` bigint(20) unsigned DEFAULT NULL,
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`) USING BTREE,
  KEY `user_id` (`user_id`) USING BTREE,
  KEY `entre_id` (`store_leave_id`) USING BTREE,
  KEY `membership_id` (`store_arrive_id`) USING BTREE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `transfer`
--

LOCK TABLES `transfer` WRITE;
/*!40000 ALTER TABLE `transfer` DISABLE KEYS */;
/*!40000 ALTER TABLE `transfer` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `unilevels`
--

DROP TABLE IF EXISTS `unilevels`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `unilevels` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `customer_id` bigint(20) unsigned NOT NULL,
  `sponsor_id` int(11) NOT NULL,
  `node` text NOT NULL,
  `active` enum('0','1') NOT NULL DEFAULT '1',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`) USING BTREE,
  KEY `unilevels_customer_id_foreign` (`customer_id`) USING BTREE
) ENGINE=InnoDB AUTO_INCREMENT=188 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `unilevels`
--

LOCK TABLES `unilevels` WRITE;
/*!40000 ALTER TABLE `unilevels` DISABLE KEYS */;
/*!40000 ALTER TABLE `unilevels` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(50) NOT NULL,
  `privilegio` varchar(50) DEFAULT 'admin',
  `lastname` varchar(50) NOT NULL,
  `phone` varchar(10) DEFAULT NULL,
  `dni` varchar(8) DEFAULT NULL,
  `avatar` varchar(50) DEFAULT NULL,
  `type` varchar(4) NOT NULL DEFAULT 'user',
  `privilage` enum('1','2','3','4','5') DEFAULT NULL,
  `active` enum('0','1') NOT NULL DEFAULT '1',
  `email` varchar(255) NOT NULL,
  `password` varchar(255) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`) USING BTREE,
  UNIQUE KEY `users_email_unique` (`email`) USING BTREE
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ventas`
--

DROP TABLE IF EXISTS `ventas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ventas` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `cliente_id` bigint(20) unsigned NOT NULL,
  `numero_comprobante` varchar(50) NOT NULL,
  `tipo_comprobante` varchar(20) NOT NULL,
  `fecha_venta` date NOT NULL,
  `subtotal` decimal(12,2) NOT NULL,
  `igv` decimal(12,2) NOT NULL,
  `total` decimal(12,2) NOT NULL,
  `descripcion` text DEFAULT NULL,
  `estado` varchar(20) DEFAULT 'registrado',
  `pdf_url` varchar(255) DEFAULT NULL,
  `xml_url` varchar(255) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fecha_venta` (`fecha_venta`),
  KEY `cliente_id` (`cliente_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ventas`
--

LOCK TABLES `ventas` WRITE;
/*!40000 ALTER TABLE `ventas` DISABLE KEYS */;
/*!40000 ALTER TABLE `ventas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ventas_inmuebles`
--

DROP TABLE IF EXISTS `ventas_inmuebles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ventas_inmuebles` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `lote_id` bigint(20) unsigned NOT NULL,
  `agente_id` bigint(20) unsigned NOT NULL,
  `cliente_id` bigint(20) unsigned NOT NULL,
  `monto` decimal(12,2) NOT NULL,
  `fecha_venta` datetime NOT NULL,
  `estado` enum('pendiente','aprobada','pagada','anulada') DEFAULT 'pendiente',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ventas_inmuebles`
--

LOCK TABLES `ventas_inmuebles` WRITE;
/*!40000 ALTER TABLE `ventas_inmuebles` DISABLE KEYS */;
/*!40000 ALTER TABLE `ventas_inmuebles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `viveland_registros`
--

DROP TABLE IF EXISTS `viveland_registros`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `viveland_registros` (
  `id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) NOT NULL,
  `email` varchar(120) NOT NULL,
  `telefono` varchar(20) NOT NULL,
  `zona` enum('Zona Viveland','Zona VIP','Zona Platinum','Zona General') NOT NULL,
  `interes` varchar(100) DEFAULT NULL,
  `estado` enum('pendiente','confirmado','cancelado') DEFAULT 'pendiente',
  `fecha_registro` timestamp NOT NULL DEFAULT current_timestamp(),
  `fecha_confirmacion` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_email` (`email`),
  KEY `idx_estado` (`estado`),
  KEY `idx_zona` (`zona`),
  KEY `idx_fecha` (`fecha_registro`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `viveland_registros`
--

LOCK TABLES `viveland_registros` WRITE;
/*!40000 ALTER TABLE `viveland_registros` DISABLE KEYS */;
INSERT INTO `viveland_registros` VALUES (1,'Jose Luis Tarrillo Chuquiruna','jcoderwords@gmail.com','949260149','Zona VIP','Inversiones','pendiente','2026-04-18 13:38:50',NULL),(2,'HPdfg','jtarrillochuquiruna@gmail.com','01122062620','Zona VIP','Networking','pendiente','2026-04-18 13:51:48',NULL);
/*!40000 ALTER TABLE `viveland_registros` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping events for database 'grupovivencia'
--

--
-- Dumping routines for database 'grupovivencia'
--
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-04-25 11:42:56
